<div class="container">

<h1 id='title'>Welcome to Ember.js Stress Test</h2>

This is a dummy nonsense app to stress test ember and ember cli. Don't read too much into the implementation. All this app is trying to do is throw a bunch of junk into an ember project and see what happens.


<ul class="list-group">
  {{#each item in model}}
    <li class="list-group-item">{{#link-to item}} View {{item}} {{/link-to}}</li>
  {{/each}}
</ul>

{{outlet}}


</div>