<h3>{{#link-to 'computers.new'}}Create New Computer{{/link-to}}</h3>

<ul class='items'>
{{#each item in model}}
  <li>{{#link-to 'computers.show' item}}{{item.name}}{{/link-to}}</li>
{{/each}}
<ul>
{{outlet}}
