<h3>{{#link-to 'pictures.new'}}Create New Picture{{/link-to}}</h3>

<ul class='items'>
{{#each item in model}}
  <li>{{#link-to 'pictures.show' item}}{{item.name}}{{/link-to}}</li>
{{/each}}
<ul>
{{outlet}}
